<ion-header>

  <ion-navbar>
    <ion-title>Interval table</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row *ngFor="let ascending_note of ascending_notes">
      <button ion-col [disabled]=interval_playing class="interval-col col-left" [ngClass]="{'visible': ascending_note.selected}" text-center (click)="processInterval(ascending_note)">
        {{ascending_note.interval_tone}}
      </button>
      <button ion-col [disabled]=interval_playing  class="interval-col col-center" [ngClass]="{'diatonic': ascending_note.diatonic, 'visible': ascending_note.selected}" text-center (click)="processInterval(ascending_note)">
        {{ascending_note.interval_name}}
      </button>      
      <button ion-col [disabled]=interval_playing class="interval-col col-right" [ngClass]="{'visible': ascending_note.selected}" text-center (click)="processInterval(ascending_note)">
        {{ascending_note.interval_note}}
      </button>
    </ion-row>
    <ion-row (click)="selectTonic()">
      <button ion-col class="tonic-interval-col col-left-tonic"  text-center>
          1
      </button>
      <button ion-col  class="tonic-interval-col col-center-tonic" text-center>
          Tonic
      </button>      
      <button ion-col class="tonic-interval-col col-right-tonic" text-center>
          {{tonic.note}}
      </button>
    </ion-row> 
    <ion-row   *ngFor="let descending_note of descending_notes">
      <button ion-col [disabled]=interval_playing class="interval-col col-left" [ngClass]="{'visible': descending_note.selected}" text-center (click)="processInterval(descending_note)">
          {{descending_note.interval_tone}}
      </button>
      <button ion-col [disabled]=interval_playing   class="interval-col col-center" [ngClass]="{'diatonic': descending_note.diatonic, 'visible': descending_note.selected}" text-center (click)="processInterval(descending_note)">
          {{descending_note.interval_name}}
      </button>      
      <button ion-col [disabled]=interval_playing  class="interval-col col-right" [ngClass]="{'visible': descending_note.selected}" text-center (click)="processInterval(descending_note)">
          {{descending_note.interval_note}}
      </button>
    </ion-row> 
  </ion-grid>
</ion-content>
