page-table {
    // General
    .interval-col{
        color: color($colors, lwhite);
        background:  rgba(255, 255, 255, 0.2) !important;
        min-height: 32px !important;
        margin-top: 10px !important;
        line-height: 32px;
    }
    .tonic-interval-col{
        color: color($colors, lwhite);
        background:  rgba(255, 255, 255, 0.4) !important;
        min-height: 42px !important;
        margin-top: 20px !important;
        margin-bottom: 10px !important;
        line-height: 42px;
        font-size:16px
    }  

    button{
        border-radius: 5% !important;
    }
    // Tonic row
    .col-left-tonic{
        max-width: 28% !important;
        margin-right:5%;
        //box-shadow:  1px 3px 5px 0px rgba(0, 0, 0, 0.3) !important;
        text-shadow: 0 0 5px black;
    }
    .col-center-tonic{
        width:33% !important;
        //box-shadow:  1px 3px 5px 0px rgba(0, 0, 0, 0.3) !important;
        text-shadow: 0 0 5px black;
    }
    .col-right-tonic{
        max-width: 28% !important;
        margin-left:5%;
        //box-shadow:  1px 3px 5px 0px rgba(0, 0, 0, 0.3) !important;
        text-shadow: 0 0 5px black;
    }  
    // All rows execpt tonic
    .col-left{
        max-width: 23% !important;
        margin-right:5%;
        margin-left:2%;
    }
    .col-center{
        width:39% !important;
    }
    .col-right{
        max-width: 23% !important;
        margin-left:5%;
        margin-right:2%;

    }
    .diatonic{
        background:  rgba(18, 41, 50, 0.2) !important;
    }

    //Cat   
    .cat-bottom{
        bottom : auto !important;
    }
  
}
