page-chromaticgame {
    h1{
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        
    }
    h3{
        margin-bottom: 5px !important;
    }
    .answer-circle-chrom{
        transition: all 0.3s ease-out;
        height: 54px !important;
        width: 54px !important;
        background-color: rgba(255,255,255, 0.2);
        border-radius: 50%;
        //box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.5);
        margin: auto;
    }
    .answer-interval{
        font-size: 18px;
        color: color($colors, lwhite);  
        text-align: center;
        padding-top:5%;
    }
    .answer-note{
        font-size: 14px;
        color: color($colors, lwhite);
        text-align: center;   
        padding-top:5%;
    }    
}
