<ion-header>
    <ion-navbar>
      <ion-title>Chromatic | Level {{chromatic_level}}</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
  <div class="container">
    <!-- ********* Answers ********* -->
    <ion-grid>
      <ion-row align-items-center class="top-row">
          <ion-col col-6 class="tonic-col">
              <h2 class="tonic-title no-wrap">Tonic : {{first_note.note}}</h2>
              <div class="tonic-circle">
                <ion-img class="portee-note" src="assets/imgs/haut/portee.png"></ion-img>
                <ion-img  class="portee-note" [src]="cle_portee"></ion-img>
                <ion-img  [ngClass]="{'portee-note': true, 'portee-tonic': true, 'visible': !game_virgin}" [src]="tonic_img"></ion-img>
                <ion-img   [ngClass]="{'portee-note': true, 'portee-answer': true, 'visible': answer_given}" [src]="answer_img"></ion-img>             
              </div>
          </ion-col>
          <ion-col col-6>
            <ion-row>
                <ion-col col-12 class="play-col">
                    <h3 class="no-wrap" >{{play_title}}</h3>
                    <button [disabled]="game_started || game_finished" class="play-circle" (click)="play()">
                        <ion-img  class="play-icon" src="assets/imgs/play.png"></ion-img> 
                    </button>
                </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-6>
                  <h3 class="no-wrap" >Replay</h3>
                  <button [disabled]="replay_disabled" class="replay-circle" (click)="replayDuo()">
                      <ion-img   align="bottom" src="assets/imgs/haut/replayduo.png"></ion-img> 
                  </button>                
              </ion-col>
              <ion-col col-6>
                  <h3 class="no-wrap">Replay</h3>
                  <button [disabled]="replay_disabled" class="replay-circle" (click)="replaySep()"> 
                      <ion-img   align="bottom" src="assets/imgs/haut/replaysep.png"></ion-img> 
                  </button>                
              </ion-col>              
            </ion-row>
          </ion-col>
      </ion-row>
      <h1>Interval selection</h1>
      <ion-row justify-content-center class="answer-row" >
        <ion-col col-3 *ngFor="let answer of answers">
          <button  [disabled]=answer.disable_bool class="answer-circle-chrom" [ngClass]="{'green-button' : answer.good_answer, 'red-button' : answer.wrong_answer, 'green-correction-button' : answer.correct_answer,'visible': answer.selected, 'visible-correction': answer.correct_answer}" (click)="playerAnswer(answer)">
            <div class="answer-interval" >{{answer.interval}}</div>
            <div class="answer-note">{{answer.note}}</div>
          </button>
        </ion-col>      
      </ion-row>
    </ion-grid>  
   
    <!-- ********* Statistics and cat ********* -->
    <span class="statistic">    Correct answers : {{counter_correct}}/{{counter_total}} Points : {{points}}</span>
    <ion-img  class="cat-bottom" [ngClass]="{'cat-shake' : cat_sound}" align="bottom" src="assets/imgs/cat.png"></ion-img> 
  </div>
  </ion-content>
  