<ion-header>
  <ion-navbar>
    <ion-title>
      Ear Training Cat
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="container">
  <h1>Interval types</h1>
  <ion-list no-lines>
    <ion-item *ngFor="let interval of interval_list" (click)="goToLevelSelection(interval.link_name)">
      <h2>{{interval.title}}</h2>
    </ion-item>
  </ion-list>
  <h1>Practice</h1>
  <ion-list no-lines>
    <ion-item (click)="goToTable()">
      <h2>Interval tables</h2>
    </ion-item>
  </ion-list>
  <img class="cat-bottom" align="bottom" src="assets/imgs/cat.png" (click)="catMiou()">
</div> 
</ion-content>
