// http://ionicframework.com/docs/theming/

/* ---------- Fonts ---------- */    
@font-face {
    font-family: 'Mukta Malar';
    font-weight: normal;
    font-style: normal;
    src: url('../assets/fonts/Mukta_Malar/MuktaMalar-Regular.ttf');
  }
  @font-face {
    font-family: 'Mukta Malar';
    font-weight: bold;
    font-style: normal;
    src: url('../assets/fonts/Mukta_Malar/MuktaMalar-SemiBold.ttf');
  }
/* ---------- General ---------- */     
  body, span, button, h1, h2, h3, h4, h5, h6 {
    font-family: Mukta Malar !important;
    color: color($colors, lwhite) !important;
    }  
// Backgrounc color
ion-content{
    //background-color:linear-gradient(left top, #2589bd 0%,#122932 100%); 
    background: linear-gradient(to bottom right, color($colors, lb) 0%, color($colors, db) 100%) !important; 
}
.container{
    position: relative;
    height: max-content;
    min-height:100%;
    padding: 0 0 70px 0;
}
.visible{
    opacity : 1 !important;
    //transition: all 1 ease-in-out
}
.visible-correction{
    opacity : 1 !important;
}
.no-wrap{
    white-space: nowrap;
}
ion-img{
    background: none;
    min-width: initial !important;
    min-width: initial !important;
    contain: none !important;
}
/* ---------- Navbar ---------- */
.toolbar-background{
    background: rgba(255, 255, 255, 0.01)   
}

.toolbar-title{
    color: color($colors, lwhite);
    font-weight: 400;
}

/* ---------- List and items ---------- */
ion-item{
    background: rgba(255, 255, 255, 0.1) !important; 
    margin-bottom:  10px !important;
    min-height:64px !important;
    color: color($colors, lwhite) !important;
    text-align: center !important;
    //box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.1) !important;
    border-radius: 5%;
}

ion-item:last-child{
    margin-bottom:0px !important;
}
ion-list{
    width: 70%;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom :0px !important;
}
/* ---------- titles ---------- */
/*
h1:first-child{
    margin-top:30px !important;
} */
h1{
    margin-bottom:  10px !important;
    font-size: 30px!important;
    text-align: center !important;
}

h2{
    font-size: 20px!important;
    text-align: center !important;  
}
h3{
    font-size: 16px!important;
    text-align: center !important;
}
h4{
    font-size: 12px!important;
    text-align: center !important;
}
/* ---------- Tonic  ---------- */
.top-row{
    margin-top:-10px
}

.tonic-circle{
    height: 125px;
    width: 125px;
    background-color: rgba(255,255,255, 0.2);
    //box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    margin-left:auto;
    margin-right:auto;
}
.portee-note {
    max-height: 125px;
    max-width: 125px;
    position: absolute;
    margin: auto;    
    z-index: -1; 
}
.portee-tonic{
    opacity: 0;
    transition: all 1s ease-in-out; 
}
.portee-answer {
    opacity: 0;
    //transition: all 0.2s ease-in-out;
}
/* ---------- Play section ---------- */
.play-col{
    text-align: center;
}
.play-circle{
    height: 64px;
    width: 64px;
    background-color: rgba(255,255,255, 0.2);
    border-radius: 50%;
    //box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.5); 
    transition: all 0.4s cubic-bezier(.08,.82,.17,1);
}
.play-icon {
    max-height: 58px;
    max-width: 69px;   
    vertical-align: middle
}

    /* ---------- Replay buttons ---------- */
.replay-col{
    min-height: 100px;
}


.replay-circle{
    height: 64px;
    width: 64px;
    background-color: rgba(255,255,255, 0.2);
    //background-color: rgba(23, 88, 34, 0.2);
    border-radius: 50%;
    //box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.5); 
    transition: all 0.4s cubic-bezier(.08,.82,.17,1);
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/* ---------- Answers ---------- */
.answer-row{
    text-align: center;
}
button{
    padding:0px;
}
.answer-circle{
    transition: all 0.3s ease-out;
    height: 64px;
    width: 64px;
    background-color: rgba(255,255,255, 0.2);
    border-radius: 50%;
    //box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.5);
    margin: auto;
}
.answer-interval{
    font-size: 20px;
    color: color($colors, lwhite);  
    text-align: center;
    padding-top:5%;
    font-weight: bold;
}
.answer-note{
    font-size: 16px;
    color: color($colors, lwhite);
    text-align: center;   
    padding-top:5%;
}

.green-button{
    //transition: all 1s ease-out;
    background-color : rgba(126, 161, 114, 0.6) !important;
    //animation: green-button 0.5s ease-out;
}

.green-correction-button{
    //transition: all 1s ease-out;
    //animation: green-button 0.5s ease-out;
    background-color : rgba(126, 161, 114, 0.6) !important;   
}

@keyframes green-button {
    0%, 100%{
        box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.5) ;
    }
    50% {
      box-shadow: 0px 0px 30px 0px rgba(126, 161, 114, 0.8) ;
    }
  }

.red-button{
    //transition: all 1s ease-out;
    //animation: red-button 0.5s ease-out;
    background-color : rgba(155, 29, 32, 0.6) !important;
}
@keyframes red-button {
    0%, 100%{
        box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.5);
    }
    50% {  
      box-shadow: 0px 0px 30px 0px rgba(155, 29, 32, 0.8);
    }
}


/* ---------- Alert ---------- */
.alert-title, .alert-button > .button-inner{
    color: color($colors, db) !important;  
 }
.alert-sub-title{
    color: color($colors, db) !important;
}
.alert-wrapper{
    background-color: rgba(255, 255, 255, 0.8) !important;
    border-radius: 5% !important;
}
.alert-radio-icon{
    left: 30%;
}
.alert-radio-label{
    text-align: center !important;
    font-size: 16px;
}
.alert-tappable{
    background-color: white;
    width: 80%;
    margin: 5% 10% 5% 10%;
    //box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.3);
}
.alert-radio-group{
    border:none !important
}
.alert-score-cat{
    width: 80px;
    height: 80px;
}
.alert-button-group-vertical{
    flex-direction: unset !important
}
/* ---------- bottom ---------- */
.statistic{
    font-size: 16px;
    position:absolute;
    bottom: 0px;
}
.cat-bottom{
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

/* ---------- Cat shake ---------- */
.cat-shake{
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}