<ion-header>

  <ion-navbar>
    <ion-title>Diatonic</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="container">  
    <h1>Level selection</h1>
    <ion-list no-lines>
      <ion-item *ngFor="let level of levels" (click)="goToDiatonicGame(level.level_number)">
        <h2>{{level.title}}</h2>
      </ion-item>
    </ion-list>
    <img class="cat-bottom" align="bottom" src="assets/imgs/cat.png" (click)="catMiou()"> 
  </div>  
</ion-content>
